@model EntityLayer.Concrete.Author
@{
    ViewBag.Title = "AddAuthor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddAuthor</h2>



<form class="form-group" method="post">
    <label>Yazar Adı Soyad</label>
    @Html.TextBoxFor(x => x.AuthorName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AuthorName)
    <br />
    <label>Resim Yolu</label>
    @Html.TextBoxFor(x => x.AuthorImage, new { @class = "form-control" })
    <br />
    <label>Yazar Yetenekleri</label>
    @Html.TextBoxFor(x => x.AboutShort, new { @class = "form-control" })
    <br />
    <label>Yazarın Statüsü</label>
    @Html.TextBoxFor(x => x.AuthorTitle, new { @class = "form-control" })
    <br />
    <label>Mail</label>
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    <label>Telefon</label>
    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
    <br />
    <label>Şifre</label>
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    <label>Hakkında</label>
    @Html.TextAreaFor(x => x.AuthorAbout, 3, 20, new { @class = "form-control" })
    <br />
    <button class="btn btn-secondary" type="submit">Kaydet</button>
</form>
